* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    font-size: calc(1em + 1vw);
    line-height: calc(1em + 1vw);
}

body *+* {
    margin-top: 1.5rem;
}

img {
    display: block;
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
}

h1 {
    text-align: center;
    font-size: calc(2em + 2vw);
    line-height: calc(2em + 2vw);
}

h2 {
    text-align: center;
    font-size: calc(1.5em + 1.5vw);
    line-height: calc(1.5em + 1.5vw);
}

h3 {
    font-size: calc(1.3em + 1.3vw);
    line-height: calc(1.3em + 1.3vw);
}

.div {
    display: block;
    color: inherit;
}
